<!DOCTYPE html>
<html>
    <head>
        <metacharset="utf-8"></metacharset>
        <title>Some website</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}
    </body>
</html>